

<p><font size="+2">
  <strong>Object:</strong>
  <%= @email.object %>
</font></p>

<p>
  <strong>Body:</strong>
  <%= @email.body %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
<td><%= link_to 'Supprimer', email, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
<a href="/emails/<%=@email.id%>" class="btn btn-danger" data-method="DELETE" data-remot ="true" >Supprimer a</a><br><br>